* {
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: #181818;
    color: #fbf1c7;
}

#workspaces {
    font-family: "JetBrainsMono Nerd Font";
    background-color: #181818;
    margin: 0;
}

#workspaces button {
    background-color: transparent;
    color: #ffffff;
    transition: all 0.1s ease;
}

#workspaces button.focused {
    color: #ea6962;
}

#workspaces button.persistent {
    color: #fbf1c7;
}

#custom-launcher {
    background-color: #181818;
    color: #ffffff;
    margin: 4px 4.5px;
    padding: 2px 4px;
}

#clock, #network, #battery, #pulseaudio, #tray, #custom-vpn, #custom-usbguard, #custom-yubikey {
    color: #ffffff;
    background-color: #181818;
    margin: 4px 2px 4px 4.5px;
    padding: 2px 6px;
}

#network.ethernet {
    color: #181818;
    background-color: #d4be98;
    margin: 4px 2px 4px 4.5px;
    padding: 2px 6px;
}

#network.disconnected, #battery.critical {
    color: #ffffff;
    background-color: #ea6962;
    margin: 4px 2px 4px 4.5px;
    padding: 2px 6px;
}

#battery.warning, #usbguard.blocked {
    color: #ffffff;
    background-color: #e79a4e;
    margin: 4px 2px 4px 4.5px;
    padding: 2px 6px;
}

#battery.charging, #custom-vpn.connected {
    color: #ffffff;
    background-color: #a9b665;
    margin: 4px 2px 4px 4.5px;
    padding: 2px 6px;
}
